@import "https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;1,400&display=swap";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap";
@import url(../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css);
@import "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css";
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.css);
/* ====================================
      Color
==================================== */
/* ====================================
  Font-family
==================================== */
/* ====================================
  Font-weight
==================================== */
/* ====================================
  Font-size
==================================== */
header {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-bottom: 300px; }
  header .navbar-default {
    border-color: transparent;
    box-shadow: none;
    border: none;
    background-image: none;
    border-radius: 0;
    background-color: transparent; }
    header .navbar-default .navbar-collapse {
      border-color: transparent; }
    header .navbar-default .navbar-brand {
      padding-top: 30px; }
  header h1 {
    padding-top: 140px;
    padding-bottom: 22px;
    font-size: 77px;
    color: #4d4d4d;
    font-family: 'Asap', sans-serif;
    margin: 0; }
  header .navbar-nav > li {
    padding: 30px 0;
    position: relative; }
    @media screen and (max-width: 767px) {
      header .navbar-nav > li {
        padding: 25px 0px; } }
    header .navbar-nav > li a {
      color: #4d4d4d;
      font-size: 16px;
      position: relative;
      margin: 10px 15px;
      padding: 0; }
      header .navbar-nav > li a:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background-color: #878787;
        position: absolute;
        bottom: -10px;
        transition: 0.5s; }
    header .navbar-nav > li:hover a:after {
      width: 100%; }
  header h2 {
    padding-bottom: 50px;
    font-size: 22px;
    font-family: 'Asap', sans-serif;
    color: #4d4d4d;
    margin: 0; }
  header .row a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 160px;
    line-height: 50px;
    text-transform: uppercase;
    border: 1px solid #4d4d4d;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    margin: 0 10px 0 0; }
    header .row a:hover {
      background-color: #FFFFFF;
      border: 1px solid #ffffff;
      -webkit-box-shadow: 0 0 5px 1px #4d4d4d;
      box-shadow: 0 0 5px 1px #4d4d4d; }

.section_about {
  padding-top: 100px;
  padding-bottom: 100px; }
  .section_about h2 {
    color: #4d4d4d;
    font-size: 46px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    padding-top: 50px;
    margin: 0; }
    @media screen and (max-width: 1024px) {
      .section_about h2 {
        padding-top: 10px; } }
    .section_about h2:before {
      content: "";
      width: 60px;
      height: 4px;
      background-color: #7a7a7a;
      display: block;
      margin-bottom: 19px; }
  .section_about p {
    color: #4d4d4d;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 30px; }
  .section_about a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 245px;
    line-height: 50px;
    text-transform: uppercase;
    border: 1px solid #4d4d4d;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    padding: 0 47px;
    margin-bottom: 20px; }
    .section_about a:hover {
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      -webkit-box-shadow: 0 0 5px 1px #4d4d4d;
      box-shadow: 0 0 5px 1px #4d4d4d; }
  .section_about img {
    width: 100%; }

.service {
  background-color: #f6f6f6; }
  .service h2 {
    color: #4d4d4d;
    font-size: 46px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    padding-top: 140px;
    padding-bottom: 64px; }
    .service h2:before {
      content: "";
      width: 60px;
      height: 4px;
      background-color: #7a7a7a;
      display: block;
      margin: auto;
      margin-bottom: 19px; }
  .service span {
    display: block;
    padding-top: 15px;
    padding-bottom: 88px;
    color: #4d4d4d;
    font-size: 24px; }

.my_skills {
  padding-bottom: 125px; }
  .my_skills h2 {
    color: #4d4d4d;
    font-size: 46px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    padding-top: 110px;
    padding-bottom: 64px; }
    .my_skills h2:before {
      content: "";
      width: 60px;
      height: 4px;
      background-color: #7a7a7a;
      display: block;
      margin: auto;
      margin-bottom: 19px; }
  .my_skills img {
    width: 100%; }

.portfolio {
  background-color: #f6f6f6;
  overflow: hidden;
  padding-bottom: 120px; }
  .portfolio img {
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
    width: 100%; }
    .portfolio img:hover {
      -webkit-box-shadow: 2px 2px 20px 5px #4d4d4d;
      box-shadow: 2px 2px 20px 5px #4d4d4d; }
  .portfolio h2 {
    color: #4d4d4d;
    font-size: 46px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 45px; }
    .portfolio h2:before {
      content: "";
      width: 60px;
      height: 4px;
      background-color: #7a7a7a;
      display: block;
      margin: auto;
      margin-bottom: 19px; }
  .portfolio #box {
    margin: auto;
    overflow: hidden; }
  .portfolio .slider {
    transition: all 2s ease-in-out;
    height: 0px; }
  .portfolio .slider.open {
    height: 400px; }
    @media screen and (max-width: 1024px) {
      .portfolio .slider.open {
        height: 300px; } }
  .portfolio button {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 190px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    padding: 0 47px;
    background-color: #FFFFFF;
    border: none;
    border-width: 0;
    border-style: none;
    border-image: none;
    outline: none; }
    .portfolio button:hover {
      background-color: #FFFFFF;
      -webkit-box-shadow: 0 0 5px 1px #4d4d4d;
      box-shadow: 0 0 5px 1px #4d4d4d; }

.testimonials {
  padding-bottom: 120px; }
  .testimonials h2 {
    color: #4d4d4d;
    font-size: 46px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    padding-top: 140px;
    padding-bottom: 58px;
    margin: 0; }
    .testimonials h2:before {
      content: "";
      width: 60px;
      height: 4px;
      background-color: #7a7a7a;
      display: block;
      margin: auto;
      margin-bottom: 19px; }
  .testimonials .carousel_wraper {
    border: 2px solid grey; }
  .testimonials .owl-dots {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px; }
  .testimonials .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border: 1px solid #212121;
    display: inline-block;
    margin: 0 20px; }
  .testimonials .owl-dots .owl-dot.active span {
    background-color: #212121; }
  .testimonials .testimonials_flex {
    display: flex;
    align-items: center;
    padding-top: 80px; }
    .testimonials .testimonials_flex .testimonials_photo {
      display: flex;
      margin-right: 33px; }
      .testimonials .testimonials_flex .testimonials_photo img {
        width: 160px;
        height: 160px; }
    .testimonials .testimonials_flex .testimonials_item {
      display: inline-block; }
      .testimonials .testimonials_flex .testimonials_item h4 {
        color: #212121;
        font-size: 30px;
        font-family: 'Asap', sans-serif;
        font-weight: 500;
        margin: 0; }
      .testimonials .testimonials_flex .testimonials_item span {
        color: #212121;
        font-size: 21px;
        font-family: 'Asap', sans-serif;
        font-weight: 500;
        font-style: italic;
        padding-bottom: 22px;
        display: inline-block; }
      .testimonials .testimonials_flex .testimonials_item p {
        color: #212121;
        font-size: 16px;
        font-family: 'Asap', sans-serif;
        font-weight: 400;
        line-height: 26px; }

.result {
  background-color: #f6f6f6;
  padding-top: 70px;
  padding-bottom: 60px; }
  .result span {
    display: block;
    padding-top: 31px;
    padding-bottom: 15px;
    font-size: 30px;
    color: #212121;
    font-family: 'Asap', sans-serif;
    font-weight: 500; }
  .result p {
    color: #212121;
    font-size: 22px;
    font-family: 'Asap', sans-serif;
    font-weight: 400; }

footer {
  background-image: url(../images/footer_img_20.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px; }
  footer h2 {
    color: #f3f3f3;
    font-size: 46px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    padding-top: 160px;
    padding-bottom: 70px;
    margin: 0; }
    footer h2:before {
      content: "";
      width: 60px;
      height: 4px;
      background-color: #c1c1c1;
      display: block;
      margin: auto;
      margin-bottom: 19px; }
  footer .form-control {
    height: 57px;
    border-radius: initial;
    border: none;
    margin-bottom: 30px;
    color: #212121;
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    font-weight: 500; }
  footer textarea.form-control {
    resize: none;
    height: 200px;
    display: block; }
  footer .btn {
    line-height: 50px;
    background-color: #FFFFFF;
    background-image: none;
    text-align: center;
    color: #4d4d4d;
    font-size: 16px;
    border: none;
    transition: 0.5s;
    padding: 0px 32px;
    width: 123px;
    border-radius: initial;
    font-family: 'Asap', sans-serif;
    font-weight: 500; }
    footer .btn:hover:hover {
      -webkit-box-shadow: 0 0 5px 1px #4d4d4d;
      box-shadow: 0 0 5px 1px #4d4d4d; }
  footer .icon a {
    margin: 0 5px;
    display: inline-block;
    width: 27px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 27px;
    transition: 0.5s;
    color: #4d4d4d;
    font-family: 'Asap', sans-serif;
    font-weight: 500; }
    footer .icon a:hover {
      background-color: #385694;
      color: #FFFFFF; }
      footer .icon a:hover:nth-child(2) {
        background-color: #0084b4;
        color: #FFFFFF; }
      footer .icon a:hover:nth-child(3) {
        background-color: #0074af;
        color: #FFFFFF; }
      footer .icon a:hover:nth-child(4) {
        background-color: #e44c41;
        color: #FFFFFF; }
      footer .icon a:hover:nth-child(5) {
        background-color: #0054f8;
        color: #FFFFFF; }
      footer .icon a:hover:nth-child(6) {
        background-color: #e44a85;
        color: #FFFFFF; }
  footer p {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    font-weight: 400; }

/*# sourceMappingURL=style.css.map */
